<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>The Building Coder WebGL Viewer</title>
    <style>
      html, body, canvas {
        margin: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      p {
        display: none;
      }
    </style>

    <script src="/jquery-1.3.2.min.js"></script>
    <script src="/twgl-full.min.js"></script>

    <script src="/vs.js" id="vs" type="x-shader/x-vertex"></script>
    <script src="/fs.js" id="fs" type="x-shader/x-fragment"></script>
    <script src="/viewer.js"></script>
  </head>
  <body>
      <p id="p">{{ position}}</p>
      <p id="n">{{normal}}</p>
      <p id="i">{{indices}}</p>
      <canvas id="c"></canvas>
  </body>
</html>
