<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>The Building Coder WebGL Viewer</title>
    <style>
      html, body, canvas {
        margin: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      p {
        display: none;
      }
    </style>

<script>
function trim(s){
  return ( s || '' ).replace( /^\s+|\s+$/g, '' );
}

function make_int_array(s) {
  return trim(s)
    .split(',')
    .map( function(a){
      return parseInt(a, 10);
    });
}
function start_render() {
  alert("render");
  var position = document.getElementById('p').innerHTML;
  var normal = document.getElementById('n').innerHTML;
  var indices = document.getElementById('i').innerHTML;
  position = make_int_array(position);
  normal = make_int_array(normal);
  indices = make_int_array(indices);
  alert(position);
  alert(normal);
  alert(indices);
}
</script>

  </head>
  <body onload="start_render()">
    <p id="p">{{ position}}</p>
    <p id="n">{{normal}}</p>
    <p id="i">{{indices}}</p>
  </body>
</html>
